cloudpickle==1.2.2
gym==0.9.1
gym-notices==0.0.8
gym-robotics==0.1.0
imageio==2.21.3
imageio-ffmpeg==0.4.7
kornia==0.6.8
moviepy==1.0.3
mujoco-py==0.5.7
numpy
opencv-python==4.6.0.66
panda-gym @ git+https://github.com/ec2604/panda-gym.git@ea54950bee1e8ae42b03dd7526bffac8764e5b90
pybullet==3.2.5
scipy==1.7.3
tensorboard==2.10.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
torch==1.10.1
wandb==0.13.3
